.header
    background: url(../img/bgimg.png) no-repeat center
    background-size: cover
    // height: 100vh

.navbar
    display: flex
    justify-content: space-around
    align-items: center
    min-height: 200px
    padding-right: 25%
    padding-left: 25%
    background: rgba(0, 0, 0, 0.5)
    &__item
        +rwbold
        color: $light-color
        text-decoration: none
        font-size: 18px
        // padding-left: 70px
        // padding-right: 70px

.logo
    +pfbold
    color: $yellow-color
    font-size: 72px

.hero
    text-align: center
    color: $light-color
    padding: 10% 5% 10% 5%
    &__title
        padding-bottom: 30px
        +pfitalic
        font-size: 72px
    &__text
        max-width: 730px
        padding-bottom: 80px
        margin: auto
        +rwregular
        font-size: 24px
        line-height: 1.7
    &__btn
        color: $light-color
    

.title_yellow
    color: $yellow-color

@media (max-width: 1300px)
    .navbar
        padding-right: 15%
        padding-left: 15%
    // .hero
    //     padding-top: 250px
    //     padding-bottom: 250px

@media (max-width: 1100px)
    .hero
        &__title
            font-size: 52px
        &__text
            font-size: 20px
        &__btn
            font-size: 25px

@media (max-width: 900px)
    .navbar
        padding-top: 5%
        padding-bottom: 5%
        min-height: 50px
        &__item
            display: none
    .logo
        display: inline
        font-size: 52px

@media (max-width: 500px)
    .hero
        padding-bottom: 20%
        &__text
            display: none
        &__title
            margin-bottom: 60px
            margin-top: 60px
            